html {
  background-image: url('../images/jinglepuff-background.png');
}

body {
  font-family: 'Aclonica', sans-serif;
}

#title-screen {
  /* display: block; */
  position:absolute;
  top:0;bottom:0;right:0;left:0;
  margin:auto;
  width: 900px;
  height: 400px;
  background-color: pink;
  box-sizing: border-box;
  padding-top: 150px;
}

#title-screen h1 {
  text-align: center;
  font-size: 60px;
  color: #eefcff;
}

#title-screen h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}

#leaderboard {
  position:absolute;
  top:360px;
  bottom:0;
  right:0;left:0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  background-color: pink;
  box-sizing: border-box;
  border-radius: 10px;
}

#leaderboard h1 {
  text-align: center;
  margin-top: 20px;
}

#scores-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#leaderboard h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

#scores-list li {
  margin: 5px 0;
}

.blinking{
    animation:blinkingText 1.5s infinite;
}

@keyframes blinkingText{
    0%{     color: white;    }
    50%{    color: transparent; }
    100%{   color: white;    }
}

#canvas-container {
  width:100%;
  height:100vh;
  position:relative;
}

#canvas, #background, #ground {
  display: block;
  position:absolute;
  top:0;bottom:0;right:0;left:0;
  margin:auto;
  border: 1px solid #000;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.15);
}

#background {
  z-index: -2;
}

#ground {
  z-index: -1;
}

.hidden {
  display: none;
}

footer i {
  font-size: 50px;
}

footer h2 a {
  border-bottom: 1px solid teal;
}

footer h2 a:hover{
  color: pink;
  border-bottom: 1px solid pink;
}

footer i:hover {
  color: pink;
}

footer {
  position: relative;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: auto;
  width: 50%;
  top: 600px;
  background-color: pink;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.15);
  background: linear-gradient(white, #dde8f0);
}

footer section div {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  width: 100%;
}
