html {
  background-image: url('../images/jinglepuff-background.png');
}



body {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  height: 100vh;
}

#logo {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#title-screen {
  position:absolute;
  margin:auto;
  width: 900px;
  height: 400px;
  background-image: url('../images/titlescreen.png');
  box-sizing: border-box;
}


#title-screen h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  color: white;
  padding-top: 150px;
}

#leaderboard {
  position:absolute;
  top:200px;
  bottom:0;
  right:0;left:0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 180px;
  background: #1e155d;
  color: #13ffed;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.85;
  border: 1.5px solid white;
}

#leaderboard h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

#scores-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scores-list li {
  margin: 5px 0;
  font-size: 12px;
}

#settings-disp {
  position: absolute;
  top: 2%;
  bottom:0;
  right:0;left:0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
  text-align: center;
  color: pink;
  z-index: 3;
}

#pause-disp, #mute-disp {
  position: relative;
}

#gameover-disp {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  left: 0;
  right: 0;
  width: 450px;
  height: 100px;
  text-align: center;
  color: pink;
}

#gameover-disp h1 {
  font-size: 50px;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px black;
}

#gameover-disp h2 {
  font-size: 25px;
  -webkit-text-stroke: 1px black;
}

.selected {
  color: pink;
}

.bolded {
  color: gold;
}

.highscore {
  color: teal;
}

.blinking{
    animation:blinkingText 1.5s infinite;
}

@keyframes blinkingText{
    0%{     color: white;    }
    50%{    color: transparent; }
    100%{   color: white;    }
}

#canvas-container {
  display: inline-block;
  width:900px;
  height:400px;
  top: 15%;
  position:relative;
}

#canvas, #background, #ground {
  display: block;
  position:absolute;
  /* top:0;bottom:0;right:0;left:0; */
  margin:auto;
  border: 1px solid #000;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.15);
}

#background {
  z-index: -2;
}

#ground {
  z-index: -1;
}

#item-list {
  position: absolute;
  width: 100px;
  margin: 50px 0 0 50px;
}

#item-list > li {
  width: 33%;
  float: left;
}

#score-pickup {
  position: absolute;
  color: gold;
  top: 100px;
  left: 220px;
}

.hidden {
  display: none;
}

footer i {
  font-size: 50px;
}

footer h2 a {
  border-bottom: 1px solid teal;
}

footer h2 a:hover{
  color: pink;
  border-bottom: 1px solid pink;
}

footer i:hover {
  color: pink;
}

footer {
  position: relative;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: auto;
  width: 70%;
  top: 450px;
  background-color: pink;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.15);
  background: linear-gradient(white, #dde8f0);
}

.links div {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  width: 100%;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.footer-buttons button {
  margin: 10px 0;
}

.footer-buttons button:hover {
  color: pink;
}



/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

@media screen and (max-width: 800px) {
  body {
    width: 100vw;
    height: 100vh;
  }


  #logo {
    display: none;
    height: 0;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  #canvas-container {
    top: 0%;
    width: 100%;
    height: 100%;
  }

  #title-screen {
    width: 100%;
    height: 100%;
  }

  footer {
    display: none;
    height: 0;
  }
}
